<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{app.title}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		  <span class="navbar-text" style="font-size:160%; color:black">
		    [[#{app.header}]]
		  </span>
		  <div class="nav-item">
	        	<a class="nav-link" th:href="@{?lang=en}"><img th:src="@{/images/united-kingdom.png}" width="30"></a>
	      </div>
	      <div class="nav-item">
	        	<a class="nav-link" th:href="@{?lang=fi}"><img th:src="@{/images/finland.png}" width="30"></a>
	      </div>
	</nav>
	<h1>[[#{edit.product}]]</h1>
	<div>
		<form th:object="${product}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" th:field="*{prodId}" />
		  	<label for="vnr">VNR</label>
			<input type="text" id="vrn" th:field="*{vnr}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="name">[[#{product.name}]]</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="price">[[#{product.price}]]</label>
			<input type="text" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="amount">[[#{product.amount}]]</label>
			<input type="text" th:field="*{amount}" />
			
			<div class="form-group">
			<label for="manulist">[[#{product.manufacture}]]</label>
				<select id="manulist" th:field="*{manufacture}">
					<option th:each="manufacture: ${manufactures}" th:value="${manufacture.manuId}" th:text="${manufacture.manuName}"></option>
				</select>
			</div>
			<div class="form-group">
			<label for="wholelist">[[#{product.wholesale}]]</label>
				<select id="wholelist" th:field="*{wholesale}">
					<option th:each="wholesale: ${wholesales}" th:value="${wholesale.wholeId}" th:text="${wholesale.wholeName}"></option>
				</select>
			</div>
    		
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>